.root
    background-color: var(--surface-container-low)
    padding: var(--padding)
    border-radius: var(--round)
    overflow-y: auto
    scrollbar-color: var(--surface-container-low)
.feedback-container
    flex: 1
    height: 100%
    display: flex
    justify-content: center
    align-items: center
.feedback__text
    font-size: 28px
.grid
    display: grid
    gap: var(--gap)
.card
    cursor: pointer
    .card-floating
        display: none
    &:hover
        .card-floating
            display: flex

@media (min-width: 600px)
    .grid
        grid-template-columns: repeat(2, minmax(0, 1fr))

@media (min-width: 820px)
    .grid
        grid-template-columns: repeat(3, minmax(0, 1fr))

@media (min-width: 1440px)
    .root
        flex: 0.7
    .grid
        grid-template-columns: repeat(4, minmax(0, 1fr))