@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-body: 12px;
  --text-heading: 24px;
  --text-subheading: 16px;
  --text-lg: 14px;
  --text-s: 10px;

  --round-hight: 20px;
  --round: 14px;
  --round-low: 8px;

  --padding: 24px;

  --gap-hight: 24px;
  --gap: 16px;
  --gap-low: 8px; 

  --primary: #6750A4;
  --primary-container: #EADDFF;
  --on-primary: #FFFFFF;
  --on-primary-container: #21005E;
  --secondary: #625B71;
  --secondary-container: #E8DEF8;
  --on-secondary: #FFFFFF;
  --on-secondary-container: #1E192B;
  --surface: #FEF7FF;
  --surface-container-lowest: #FFFFFF;
  --surface-container-low: #F7F2FA;
  --surface-container: #F3EDF7;
  --surface-container-hight: #ECE6F0;
  --surface-container-hightest: #E6E0E9;
  --on-surface: #1C1B1F;
  --on-surface-variant: #49454E;
  --background: #FEF7FF;
  --outline: #79747E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #D0BCFF;
    --primary-container: #EADDFF;
    --on-primary: #4F378B;
    --on-primary-container: #371E73;
    --secondary: #CCC2DC;
    --secondary-container: #4A4458;
    --on-secondary: #332D41;
    --on-secondary-container: #E8DEF8;
    --surface: #141218;
    --surface-container-lowest: #0F0D13;
    --surface-container-low: #1D1B20;
    --surface-container: #211F26;
    --surface-container-hight: #2B2930;
    --surface-container-hightest: #36343B;
    --on-surface: #E6E1E5;
    --on-surface-variant: #CAC4D0;
    --background: #E6E1E5;
    --outline: #938F99;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: var(--on-surface);
  background: var(--surface-container-lowest);
}