.root
    background-color: var(--surface-container-low)
    padding: var(--padding)
    border-radius: var(--round)
.feedback-container
    display: flex
    justify-content: center
    align-items: center
    padding: var(--padding)
.results-container
    padding: var(--padding) 0
.clean-icon
    width: 40px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    border-radius: 0 var(--round-low) var(--round-low) 0
    &:hover
        background-color: var(--surface-container-highest)
    
@media (min-width: 1440px)
    .root
        flex: 0.3
        max-width: 560px