.root
    background-color: var(--surface-container-low)
    padding: var(--padding)
    border-radius: var(--round)
.feedback-container
    display: flex
    justify-content: center
    align-items: center
    padding: var(--padding)
.results-container
    padding: var(--padding) 0

@media (min-width: 1440px)
    .root
        flex: 0.3
        max-width: 560px